{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decofruta</title>
    <!-- Usando { static } para las rutas de imágenes -->
    <link rel="shortcut icon" type="image" href="{% static 'img/logo.png' %}">
    <!-- CSS estático -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Icons -->
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet">
</head>

<body>
    <div class="all-content">
        <!-- Header -->
        <header class="header">
            <nav class="navbar navbar-expand-md" id="navbar">
                <a class="navbar-brand" href="{% url 'Home' %}" id="logo">
                    <img src="{% static 'img/logoNav.png' %}" alt="" width="100">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span><img src="{% static 'img/menu.png' %}" alt="" width="30px"></span>
                </button>

                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Home' %}">Inicio</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a href="clienteProductos.php" class="nav-link dropdown-toggle" id="navbardrop"
                                data-toggle="dropdown">
                                Productos
                            </a>
                            <div class="dropdown-menu">
                                <a href="clienteProductos.php#1" class="dropdown-item">Detalles Personalizados</a>
                                <a href="clienteProductos.php#2" class="dropdown-item">Cumpleaños</a>
                                <a href="clienteProductos.php#3" class="dropdown-item">Platos a la carta</a>
                                <a href="clienteProductos.php#4" class="dropdown-item">¡Los más pedidos!</a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="clienteGaleria.php">Galeria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="clienteNosotros.php">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="clienteReservarMesa.php">Reservar Mesa</a>
                        </li>
                    </ul>
                </div>

                <div class="icons">
                    <a href="acceso.php"><i class='bx bxs-user-plus'></i></a>
                    <a href="logout.php"><i class='bx bx-log-out-circle'></i></a>
                </div>
            </nav>
        </header>

        <!-- Contenido Cambiante-->
        {% block content %}
        {% endblock %}

        <!-- FOOTER -->
        <footer id="footer">
            <div class="text-center">
                <img src="{% static 'img/footerDecofruta.png' %}" alt="" width="100px">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-4 py-3 py-md-0">
                        <h3 class="text-center">Contactanos</h3>
                        <p class="text-center">No dudes en contactarnos para recibir asesoramiento personalizado.</p>
                        <div class="icons text-center">
                            <a href="https://wa.me/c/51955143880">
                                <i class='bx bxs-phone'></i>
                            </a>
                            <a href="mailto:decofrutaperu@outlook.com">
                                <i class='bx bxs-envelope'></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 py-3 py-md-0">
                        <h3 class="text-center">Síguenos</h3>
                        <p class="text-center">Únete a nuestra comunidad de amantes de los detalles creativos.</p>
                        <div class="icons text-center">
                            <a href="https://www.facebook.com/decofrutaarreglosfrutales/?locale=es_LA">
                                <i class='bx bxl-facebook'></i>
                            </a>
                            <a href="https://www.instagram.com/decofrutapiura/?hl=es-la">
                                <i class="bx bxl-instagram"></i>
                            </a>
                            <a href="https://www.tiktok.com/@decofrutapiura">
                                <i class='bx bxl-tiktok'></i>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-4 py-3 py-md-0">
                        <h3 class="text-center">Horario de atención</h3>
                        <p class="text-center">Lunes a Sábado</p>
                        <p class="text-center">8:30 AM - 9:00 PM</p>
                        <div class="icons text-center">
                            <i class='bx bx-calendar-heart'></i>
                        </div>
                    </div>
                </div>
            </div>

            <marquee>
                <div class="copyright text-center">
                    &copy; Todos los derechos reservados por <strong>Decofruta</strong>
                </div>
            </marquee>
        </footer>

        <a href="#" class="arrow"><i><img src="{% static 'img/up-bellota.png' %}" alt="" width="50px"></i></a>
    </div>
</body>

</html>
