{% extends "proyecto_docofruta/formulario.html" %}

{% load static %}

{% block content %}
<body>

    <form action="" method="POST" id="perfilForm">
        {% csrf_token %}
        <a href="{% url 'perfil' %}"><i class='bx bx-x-circle'></i></a>
        <h1 class="title">Editar Perfil</h1>

        {% if form.non_field_errors %}
            <div class="error-message">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <label>
            <i class='bx bx-map'></i>
            {{ form.direccion }}
            {% if form.direccion.errors %}
                <div class="error-message">{{ form.direccion.errors }}</div>
            {% endif %}
        </label>

        <button type="submit" id="button">Guardar Cambios</button>
    </form>

    {% if messages %}
    <div class="mensaje-flotante">
        {% for message in messages %}
            <div class="mensaje {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    
</body>
{% endblock %}