
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decofruta - Editar Perfil</title>
    <link rel="shortcut icon" type="image" href="{% static 'image/logo.png' %}">
    <link rel="stylesheet" href="{% static 'css/stylesForm.css' %}">
    <!-- icons links -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

    <form action="" method="POST" id="perfilForm">
        {% csrf_token %}
        <a href="{% url 'perfil' %}"><i class='bx bx-x-circle'></i></a>
        <h1 class="title">Editar Perfil</h1>

        {% if form.non_field_errors %}
            <div class="error-message">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <label>
            <i class='bx bx-map'></i>
            {{ form.direccion }}
            {% if form.direccion.errors %}
                <div class="error-message">{{ form.direccion.errors }}</div>
            {% endif %}
        </label>

        <button type="submit" id="button">Guardar Cambios</button>
    </form>

    {% if messages %}
    <div class="mensaje-flotante">
        {% for message in messages %}
            <div class="mensaje {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    
</body>
</html>