{% extends "proyecto_docofruta/base.html" %}
{% block content %}
    <div class="container">
        <h2>Establecer Nueva Contraseña</h2>
        {% if validlink %}
            <p>Por favor ingresa tu nueva contraseña dos veces para verificar que la has escrito correctamente.</p>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Cambiar mi contraseña</button>
            </form>
        {% else %}
            <p>El enlace de restablecimiento de contraseña ya no es válido. Es posible que ya haya sido utilizado o que haya expirado. Por favor solicita un nuevo restablecimiento de contraseña.</p>
            <p><a href="{% url 'password_reset' %}">Solicitar nuevo restablecimiento</a></p>
        {% endif %}
    </div>
{% endblock %}